{% extends "base.html" %}
{% load djblets_deco %}
{% load i18n %}
{% block title %}{% trans "New Post-commit Review Request" %}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/diffviewer.css?{{MEDIA_SERIAL}}" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/reviews.css?{{MEDIA_SERIAL}}" />
{% endblock %}

{% block scripts-post %}
<script type="text/javascript">
    var visible = {{fields|safe}};

    function updateFormDisplay() {
        var selection = $("#id_repository").get(0);
        var selectedID = selection.options[selection.selectedIndex].value;

        $("tr[class^=row_]").hide();
        $(visible[selectedID]).each(function() {
            $("tr.row_" + this).show();
        });
    }

    $(document).ready(function() {
        $("#id_repository")
            .change(updateFormDisplay)
            .triggerHandler("change");
    });
</script>
{% endblock %}

{% block content %}


<form method="post" enctype="multipart/form-data">
{% box "new-post-commit-review-request" %}
 <h1 class="title"> <input type="submit" id="create_button" value="{% trans "Create" %}" /> {% trans "New Post-commit Review Request" %} </h1>
 <div class="main">
  <table>

   <tr class="row_revisions_choice">
    <td colspan="3" class="revisions_choice_list">
      {{form.revisions_choice.errors}}
    </td>
   </tr>

   <tr>
    <td><label for="id_repository">{% trans "Repository" %}:</label></td>
	<td>{{form.repository}}</td>
	<td>{{form.repository.errors}}</td>
   </tr>
   <tr class="row_no_repository_explanation">
    <td></td>
    <td class="help" colspan="2">
     {% blocktrans %}
     You won't be able to add any diffs to this review request. The review
     request will only be usable for reviewing screenshots and other graphic
     files.
     {% endblocktrans %}
    </td>
   </tr>
   <tr class="row_revisions">
    <td><label for="id_revisions">{{form.revisions.label}}:</label></td>
    <td>{{form.revisions}}</td>
    <td>{{form.revisions.errors}}</td>
   </tr>   
   <tr class="row_revisions">
    <td></td>
    <td class="help" colspan="2">{{form.revisions.help_text}}</td>
   </tr>

   <tr class="row_revisions_choice" border="1">
    <td border="1"><label for="id_revisions">My Pending Revisions:</label></td>
    <td border="1"><input class="revisions_choice_button" type="submit" name="load_revisions_button" value="{{form.load_revisions_button}}"/> </td> 
    <td border="1"><input class="revisions_choice_button" type="submit" name="ignore_revisions_button" value="{{form.ignore_revisions_button}}"/>
		   <input class="revisions_choice_button" type="submit" name="showall_revisions_button" value="{{form.showall_revisions_button}}"/>
    </td>
   </tr>
   <tr>
    <td/> 
    <td class="help" colspan="2">{{form.revisions_choice_help}}</td>
   </tr>
   <tr class="row_revisions_choice">
    <td class="revisions_choice_list"></td>
    <td class="revisions_choice_list" valign="baseline" colspan="2">
      {{form.revisions_choice}}
    </td>
   </tr>
  </table>
 </div>
{% endbox %}
</form>

{% endblock %}

