{% extends "base.html" %}
{% load djblets_deco %}
{% load i18n %}
{% block title %}{% trans "New Post-commit Review Request" %}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/diffviewer.css?{{MEDIA_SERIAL}}" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/reviews.css?{{MEDIA_SERIAL}}" />
{% endblock %}

{% block scripts-post %}
<script type="text/javascript">
    var visible = {{fields|safe}};

    function updateFormDisplay() {
        var selection = $("#id_repository").get(0);
        var selectedID = selection.options[selection.selectedIndex].value;

        $("tr[class^=row_]").hide();
        $(visible[selectedID]).each(function() {
            $("tr.row_" + this).show();
        });
    }
    
	function checkbox_clicked(box) { 
		if (box && box.currentTarget && [].indexOf) {
			var rev = box.currentTarget.value, 
				checked = box.currentTarget.checked,
				elrevision = $('#id_revisions'),
				revisions = elrevision.val().split(' '),
				idx;
			//checkbox is unchecked: remove all occurences of rev from list of revisions
			while (!checked && (idx = revisions.indexOf(rev)) != -1) {
				revisions = revisions.slice(0, idx).concat(revisions.slice(idx+1));
			}
			//checkbox is checked: add occurence if not already present
			if (checked && revisions.indexOf(rev) == -1) {
				revisions.push(rev);
			}
			elrevision.val(revisions.join(' ').trim());
		}
	};

	function get_revisions_changed_cb() {
		var last_revisions = {};
		function s2o(s) {
			var i, 
				a = s.split(' '), 
				n = a.length, 
				ret = {};
			for(i = 0; i < n; ++i) {
				ret[a[i]] = true;
			}
			return ret;
		}
		return function() {
			var item,
				new_revisions = s2o($('#id_revisions').val());
			for(item in new_revisions) {
				if (!(item in last_revisions)) {
					//new item -> check
					$('#id_revisions_choice_'+item).attr('checked', true);
				}
			}
			for(item in last_revisions) {
				if (!(item in new_revisions)) {
					//removed item -> uncheck
					$('#id_revisions_choice_'+item).attr('checked', false);
				}
			}
			last_revisions = new_revisions;
		};
	};

    $(document).ready(function() {
        $("#id_repository")
            .change(updateFormDisplay)
            .triggerHandler("change");
        //check checkboxes that were selected on previous page
        var i, 
        	revs = $('#id_revisions').val().split(' ');
        for(i = 0; i < revs.length; ++i) { 
          $('#id_revisions_choice_'+revs[i]).attr('checked', true);
        } 
        $('#id_revisions').bind('keyup', get_revisions_changed_cb());
        //when clicking a checkbox, add revision number to #id_revisions
        $('.revisions_choice_list :input[type="checkbox"]')
            .bind('click', checkbox_clicked);
    });
    
</script>
{% endblock %}

{% block content %}


<form method="post" enctype="multipart/form-data">
{% box "new-post-commit-review-request" %}
 <h1 class="title"> <input type="submit" id="create_button" value="{% trans "Create" %}" /> {% trans "New Post-commit Review Request" %} </h1>
 <div class="main">
  <table>

   <tr class="row_revisions_choice">
    <td colspan="3" class="revisions_choice_list">
      {{form.revisions_choice.errors}}
    </td>
   </tr>

   <tr>
    <td><label for="id_repository">{% trans "Repository" %}:</label></td>
	<td>{{form.repository}}</td>
	<td>{{form.repository.errors}}</td>
   </tr>
   <tr class="row_no_repository_explanation">
    <td></td>
    <td class="help" colspan="2">
     {% blocktrans %}
     You won't be able to add any diffs to this review request. The review
     request will only be usable for reviewing screenshots and other graphic
     files.
     {% endblocktrans %}
    </td>
   </tr>
   <tr class="row_revisions">
    <td><label for="id_revisions">{{form.revisions.label}}:</label></td>
    <td>{{form.revisions}}</td>
    <td>{{form.revisions.errors}}</td>
   </tr>   
   <tr class="row_revisions">
    <td></td>
    <td class="help" colspan="2">{{form.revisions.help_text}}</td>
   </tr>

   <tr class="row_revisions_choice" border="1">
    <td border="1"><label for="id_revisions">My Pending Revisions:</label></td>
    <td border="1"><input class="revisions_choice_button" type="submit" name="load_revisions_button" value="{{form.load_revisions_button}}"/> </td> 
    <td border="1"><input class="revisions_choice_button" type="submit" name="ignore_revisions_button" value="{{form.ignore_revisions_button}}"/>
		   <input class="revisions_choice_button" type="submit" name="showall_revisions_button" value="{{form.showall_revisions_button}}"/>
    </td>
   </tr>
   <tr>
    <td/> 
    <td class="help" colspan="2">{{form.revisions_choice_help}}</td>
   </tr>
   <tr class="row_revisions_choice">
    <td class="revisions_choice_list"></td>
    <td class="revisions_choice_list" valign="baseline" colspan="2">
      {{form.revisions_choice}}
    </td>
   </tr>
  </table>
 </div>
{% endbox %}
</form>

{% endblock %}

